.venv/
__pycache__/
*.pyc
scripts/__pycache__/
lightning_runs.zip
lightning_runs/

# Pyhton bytecode caches
__pycache__/
scripts/__pycache__/
**/__pycache__/

# Training Artifacts
checkpoints/
logs/
wandb/
lightning_runs/
tensorboard/
outputs/

# Datasets inclusions
Dataset_Robomaster-1/
Datasets_*/

# Model weights
*.ckpt
*.pt
*.pth

# setup.py build
armor_unet.egg-info/


